/* colors part */
.colors {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

.colors * {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colors .dark {
  background: linear-gradient(to right, #001316, #013138);
}

.colors .light {
  background: linear-gradient(to right, #d6f2ff, #fdfeff);
}

.colors .grey {
  background: linear-gradient(to right, #525454, #093040);
}

/* main App Part */
.dark h1 {
  font-size: 70px;
  color: #FFF;
}

.light h1 {
  font-size: 70px;
  color: #000;
}

.grey h1 {
  font-size: 70px;
  color: #FFF;
}



.add_task_container {
  position: relative;
  margin: 0 auto;
}

.light .add_task_input,
.grey .add_task_input {
  border: none;
  border-radius: 20px;
  background-color: #000;
  padding-left: 20px;
  height: 45px;
  color: #FFF;
}

.dark .add_task_input {
  border: none;
  border-radius: 20px;
  background-color: #01394c;
  padding-left: 20px;
  height: 45px;
  color: #FFF;
}

.add_task_input::placeholder {
  color: #DDD;
}

.main_app .add_button {
  background-color: #FFF;
  border-radius: 0 20px 20px 0;
  height: 47px;
  width: 80px;
  position: absolute;
  top: -1px;
  right: 0px;
}

.grey .date-time,
.dark .date-time {
  color: #FFF;
}

.light .date-time {
  color: #000;
}
